::-webkit-scrollbar {
    height: 20px;
    overflow: visible;
    width: 10px;
    background: white;
    // border-left: 1px solid #DDD;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0;
    &:hover,&:active {
        background-color: rgba(0,0,0,.05);
    }
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 3px 3px 3px 4px;
    border-radius: 6px;
}

.theme--dark {
    ::-webkit-scrollbar-thumb {
        background-color: #5f5f5f;
        background-clip: padding-box;
        border: solid #263238;
        border-width: 1px;
        border-radius: 0px;
    }
    ::-webkit-scrollbar-track {
        background-clip: padding-box;
        border: solid #654343b8;
        border-width: 0px;
    }
    ::-webkit-scrollbar {
        height: 20px;
        overflow: visible;
        width: 10px;
        background: #424242;
        border-left: 1px solid #000000;
    }
}
